[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/liamsnow/nvim-config.git
[submodule ".config/quickshell"]
	path = .config/quickshell
	url = https://github.com/liamsnow/caelestia-shell.git
