[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = mail@liamsnow.com
	name = LiamSnow
	signingKey = 65BB1404DCB7CF97
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = gpg2
