* {
  all: unset;
  font-family: "Ubuntu Nerd Font Mono";
}

.workspaces {
  background-color: #ff0000;
}

button {
  all: unset;
  padding: 0;
  margin: 0;
}

.workspace {
  background-color: #333;
  min-width: 1px;
  min-height: 100px;
}

.workspace.active {
  background-color: #f0fb29;
}

.battery-bar {
  background-color: #ff0000;
  min-width: 1px;
}

.battery-empty {
  background-color: #333;
  min-width: 1px;
}

.battery-filled {
  background-color: #f0fb29;
  min-width: 1px;
}

.battery-filled.charging {
  background-color: #00ff00;
}

.hover-zone {
  background-color: transparent;
  min-width: 400px;
}

.topbar-content {
  background: #101010;
  /* padding: 0 15px 20px 15px; */
  padding: 20px 15px;
  /* border-radius: 0 0 15px 15px; */
  border-radius: 15px;
  color: #ffffff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.8);
  margin: 0 60px 60px 60px;
  min-width: 200px;
  border: 1px solid #BCC238;
  /* border-top: none; */
}

.time {
  font-size: 56px;
  font-weight: 700;
  color: white;
  /* letter-spacing: -2px; */
  /* text-shadow: 0 0 20px rgba(240, 251, 41, 0.3); */
}

.date {
  font-size: 18px;
  font-weight: 400;
  color: #888888;
  /* letter-spacing: 1px; */
}

.stats {
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.battery {
  font-size: 16px;
  font-weight: 600;
  color: #88ff88;
  background: rgba(136, 255, 136, 0.1);
  padding: 5px 15px;
  border-radius: 20px;
}

.volume {
  font-size: 16px;
  font-weight: 600;
  color: #88ccff;
  background: rgba(136, 204, 255, 0.1);
  padding: 5px 15px;
  border-radius: 20px;
}

.corner-tl {
  background: radial-gradient(circle at bottom right, transparent 0, transparent 20px, black 20px);
}

.corner-tr {
  background: radial-gradient(circle at bottom left, transparent 0, transparent 20px, black 20px);
}

.corner-bl {
  background: radial-gradient(circle at top right, transparent 0, transparent 20px, black 20px);
}

.corner-br {
  background: radial-gradient(circle at top left, transparent 0, transparent 20px, black 20px);
}
