binds {
    // Help
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Apps
    Mod+Return hotkey-overlay-title="Terminal" { spawn "kitty"; }
    Mod+Z hotkey-overlay-title="Spotify" { spawn-sh "spotify --enable-features=UseOzonePlatform --ozone-platform=wayland"; }
    Mod+O hotkey-overlay-title="TickTick" { spawn-sh "ticktick --enable-features=UseOzonePlatform --ozone-platform=wayland"; }
    Mod+I hotkey-overlay-title="1Password" { spawn-sh "1password --enable-features=UseOzonePlatform --ozone-platform=wayland"; }

    // Cosmic
    Mod+1 hotkey-overlay-title="Launcher" repeat=false { spawn "cosmic-launcher"; }
    Mod+2 hotkey-overlay-title="Applications" repeat=false { spawn "cosmic-app-library"; }
    
    // Lock
    Mod+Alt+L hotkey-overlay-title="Lock" { spawn "swaylock"; }
    Mod+X hotkey-overlay-title="Lock" { spawn "swaylock"; }

    // Browser
    Mod+BackSpace hotkey-overlay-title="Zen" { spawn "zen-browser" "--enable-features=UseOzonePlatform" "--ozone-platform=wayland"; }
    Mod+Shift+BackSpace hotkey-overlay-title="Zen Private" { spawn "zen-browser" "--enable-features=UseOzonePlatform" "--ozone-platform=wayland" "--private-window"; }

    // Volume
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "-l" "1.0" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // Temperature
    Alt+XF86AudioRaiseVolume allow-when-locked=true { spawn "~/.config/niri/scripts/temp.sh" "-200"; }
    Alt+XF86AudioLowerVolume allow-when-locked=true { spawn "~/.config/niri/scripts/temp.sh" "+200"; }

    // Media
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "--player=spotify" "play-pause"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "--player=spotify" "next"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "--player=spotify" "previous"; }

    // Brightness
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }
    Alt+XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "1%+"; }
    Alt+XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "1%-"; }

    // Eww Topbar (Date Time)
    Mod+Semicolon { spawn-sh "eww update topbar_reveal=$([ $(eww get topbar_reveal) = true ] && echo false || echo true)"; }

    // Screenshots
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Quit
    Mod+Shift+Q { quit; }
    Ctrl+Alt+Delete { quit; }

    // Mod+T { toggle-column-tabbed-display; }
    // Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }


    // ---------------- Windows ---------------- \\

    // Close
    Mod+Q repeat=false { close-window; }

    // Focus
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+N { focus-column-first; }
    Mod+M { focus-column-last; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }


    // Move
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Ctrl+N { move-column-to-first; }
    Mod+Ctrl+M { move-column-to-last; }

    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }


    // Rows
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // Sizing.
    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Mod+Shift+R { switch-preset-window-height; }
    // Mod+Ctrl+F { expand-column-to-available-width; }


    // Floating
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // ---------------- Workspace ---------------- \\
    
    // Overview
    Mod+0 repeat=false { toggle-overview; }

    // Focus
    Mod+W { focus-workspace 1; }
    Mod+E { focus-workspace 2; }
    Mod+A { focus-workspace 3; }
    Mod+S { focus-workspace 4; }
    Mod+D { focus-workspace 5; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }


    // Move Window To
    Mod+Shift+W { move-column-to-workspace 1; }
    Mod+Shift+E { move-column-to-workspace 2; }
    Mod+Shift+A { move-column-to-workspace 3; }
    Mod+Shift+S { move-column-to-workspace 4; }
    Mod+Shift+D { move-column-to-workspace 5; }

    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
}
