layout {
    gaps 16

    center-focused-column "on-overflow"

    focus-ring {
        width 1
        active-color "#f0fb29"
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
