
// Idle, Lock, Monitor Power Management
// spawn-at-startup "swayidle" "-w" "timeout" "300" "swaylock -f" "timeout" "600" "niri msg action power-off-monitors" "resume" "niri msg action power-on-monitors" "before-sleep" "swaylock -f"

// Wallpaper
// spawn-at-startup "awww-daemon"
// spawn-at-startup "bash" "-c" "sleep 2 && ~/.config/niri/scripts/wallpaper.sh"

// OSD
// spawn-at-startup "swayosd-server"

// Notifications
// spawn-at-startup "mako"

// Secrets + Auth Agent
// spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
// spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

// Clipboard History
// spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
// spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

// Trash Management
// spawn-at-startup "trash-empty" "30"

// Screen Temperature
// spawn-at-startup "wl-gammarelay-rs"

// Launcher
// spawn-at-startup "vicinae" "server"

// Bar
// spawn-at-startup "~/.config/niri/scripts/eww.sh"

// Cursor
// cursor {
//     xcursor-theme "sweet-cursors"
//     xcursor-size 20
// }
// spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-theme" "sweet-cursors"
// spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-size" "24"

spawn-at-startup "cosmic-ext-alternative-startup"

