* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 97%;
}

window#waybar {
  background: transparent;
}

#waybar.empty,
#waybar.tiled,
#waybar.floating {
  background: transparent;
}

.modules-right,
.modules-center,
.modules-left {
  background: rgba(0, 0, 0, 0.5);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.modules-center {
  padding-left: 2px;
  padding-right: 2px;
  transition: width 2s ease;
}

.modules-left,
.modules-right {
  padding-left: 15px;
  padding-right: 15px;
  color: #eaeaea;
}

.modules-right,
.modules-center {
  border-bottom-left-radius: 10px;
}

.modules-left,
.modules-center {
  border-bottom-right-radius: 10px;
}

#workspaces button {
  color: #eaeaea;
}

#workspaces button.active {
  border: 2px solid #ff33cc;
  border-radius: 8px;
  color: #ff33cc;
}

#workspaces button.urgent {
  background-color: #ff0000;
}

#temperature.critical {
  background-color: #ff0000;
}
