// Dell XPS 15 (2022)

include "shared/input.kdl"
include "shared/layout.kdl"
include "shared/binds.kdl"
include "shared/spawn.kdl"
include "shared/rules.kdl"

debug {
    render-drm-device "/dev/dri/by-path/pci-0000:00:02.0-render"
}

output "eDP-1" {
    mode "1920x1200@59.950"
    scale 1
    transform "normal"
    position x=1280 y=0
}

layout {
    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
}
