// PC (Intel i9-10900k + Nvidia 3080ti + TODO) 
// Ultrawide Setup (Dell 37.5-inch curved)

include "shared/input.kdl"
include "shared/layout.kdl"
include "shared/binds.kdl"
include "shared/spawn.kdl"
include "shared/rules.kdl"

output "Dell Inc. DELL U3818DW 97F8P7590FJL" {
    mode "3840x1600@59.994"
    scale 1
    transform "normal"
}

layout {
    always-center-single-column
    default-column-width { proportion 0.33333; }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
    }
}
