#root {
    font-family: "SF Pro Display", serif;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
}

label {
    color: white;
}

#workspace {
    font-weight: 600;
    font-size: 16px;
}
