theme = "tokyonight"

[editor]
line-number = "relative"
popup-border = "all"
shell = ["nu", "-c"]
true-color = true
middle-click-paste = true
# clipboard-provider = "termcode"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[keys.normal.space]
e = "file_explorer_in_current_buffer_directory"
E = "file_explorer"

f = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output yazi "%{buffer_name}" --chooser-file=/tmp/unique-file',
  #':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
  ':set mouse false',
  ':set mouse true',
]

F = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output yazi --chooser-file=/tmp/unique-file',
  #':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
  ':set mouse false',
  ':set mouse true',
]
